/*--------------------------------------------------------
Responsive elements
--------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
/*
                h1 { font-size: 39px;}
                .one-text { font-size: 16px;}                
                .bg1, .bg3 { background-size: 150%;}
                .bg2 { background-size: 1280px;}
                #contact { background-size: 1437px; }                
                .ib-text { padding-right: 26%; }
                .links a { font-size: 12px; }
*/
				#slidecaption { font-size: 42px }
                .slidedescription { font-size: 22px }
                .slider-text { bottom: 30px; } 						
				.item { height: 167px; }
} 

@media only screen and (width: 1024px) {
/*
                #contact { background-size: 1210px; }
                .card { margin: 60px 0 0 0; }
*/
} 
 
@media only screen and (max-width: 767px) {	

/*
                h1 { font-size: 25px; line-height: 1; }
                .one-text { font-size: 14px; }
                .project-title { font-size: 14px; }
                .project-description { font-size: 11px; }         
                .lines { font-size: 24px; }
                #contact { height: auto;}
                .contact-social-icons li a { width: 40px; height: 40px; font-size: 20px; }
                .contact-social-icons li { margin: 0 5px 0 5px; }
                .links { display: none; }                
                .dropmenu { display: block; margin-top: 5px; }                
                .logo-text { padding-top: 18px; }        				
                .social-icons { position: absolute; top: 4px; right:10px; margin-top: 0; }
                .social-icons li a { width: 18px; height: 18px; line-height: 1.8; font-size: 10px; }
				nav { display: none; }                
                .slider-text  { bottom: 50px; min-height: 80px; }
                #about, #culture, #services, #portfolio { padding-top: 32px; padding-bottom: 40px; }
                #prevslide, #nextslide{ position:absolute; height:15px; width:15px; top:50px; margin-top:-21px; opacity:0.6; }
                #culture h4 { padding-top: 27px; }
                .bg1, .bg2, .bg3 { background-attachment: scroll; background-size: cover; }
                .column .img-wrp { margin: 40px 0px 14px; }	
                #prevslide{ right:55px; font-size: 16px; }
				#nextslide{ right:30px; font-size: 16px; }
				#contact { background-size: cover; }				
				.option-set { margin-left: 0; }
				.culture-full { padding: 40px 0px 40px 0px; margin: 40px 0px 14px 0px; }
				.info-block a.button { position: inherit; margin-top: 20px; }
				.ib-text { padding-right: 0; }
				.post-title { font-size: 36px; }
				p.lead { font-size: 14px; }
				.image-caption { display: none; }
				.blog-sidebar { display: none; }
				.post-info span { float: left; text-align: left; margin-top: 5px; }
                .lines, .adress-box{ font-size: 14px; width: 77%}		
*/				
				.navbar-transparent { background-color: rgba(0, 0, 0, 0.45); }	
				.navbar-search-icon { display: none; }
				.navbar { padding: 10px 0; }
				.logo { width: 73px; height: 22px; }
				#homepage { margin-bottom: -30px; }
				#slidecaption { font-size: 26px}
				.slider-text { bottom: 30px; } 
				.slidedescription { font-size: 20px; }
                .line { width: 80px; margin-bottom: 20px; }						
				.item { height: 330px; }                
}
	
@media only screen and (max-width: 479px) {

/*
                .lines, .adress-box{ font-size: 12px; width: 77%}                
                #prevslide, #nextslide{ position:absolute; height:15px; width:15px; top:100px; opacity:0.6; }
                #prevslide{ left:0; }
				#nextslide{ left:25px; }
*/
				.logo { top: 20px; }
				.navbar { padding: 5px 10px; }				
				.slider-text  { min-height: 100px; }				
				#slidebutton a { font-size: 14px; }	
				.item { height: 254px; }
}

@media only screen and (min-width: 1400px) {
                /*
                nav .three.columns { float: right; }                                         
                
                #prevslide, #nextslide{ position:absolute; height:30px; width:30px; top:210px; margin-top:-21px; opacity:0.6; }
                .bg1, .bg2, .bg3 { background-size: 100%; }*/
	
				nav .container,
                #homepage .container,
                #homepage .container
                .sixteen.columns
                { width: 100%; }
				.slider-text { width: 100%; }
                .line { width: 180px; }      	
				#parallax1, 
                #parallax1 .vertical-text, 
                #parallax1 .pattern,                
                { height: 600px; }
} 



