/*--------------------------------------------------------
Navigation
--------------------------------------------------------*/

.navbar-default {
  
    background-color: transparent;
    border: none;

	.navbar-toggle{
  		z-index: 999;
		margin-right: 0;
		border: 0;
		border-radius: 0;
		color: #fff;
		background: none;
		padding: 6px 6px;

		.icon-bar {
		  display: block;
		  width: 35px;
		  height: 4px;
		  border-radius: 1px;
		  background-color: #333;
		}

		&:focus, &:hover{
 			background: none;
		}
	}
}

nav h2{
  display: none;
}

.menu-base-theme{
	background: none;

	ul{
		background: none;
	}

	li{

		a{
			color: $menuTextColor;
			border-bottom: 1px solid #EEF0F7;
			line-height: 100%;
			padding: 17px 15px;			
			font-size: 0.8em;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				background: none;
				color: $menuTextActiveColor;
				line-height: 100%;
				padding: 17px 15px;
			}

			&.sub-arrow{
				color: #999;
				font-size: 22px;
				padding: 5px;
				border-radius: 2px;
				border: 1px solid #DCDCDC;
				background: #EFEFEF;
			}

			span.sub-arrow{
				line-height: 160%;
				font-size: 2em;
			}
		} 
	}
}

.region-primary-menu{
	display: none;
	width: 100%;
    background: $mobileMenuBg;
    margin-bottom: 15px;
    border-radius: 5px;
}
