h1, h2, h3, h4 {
	font-weight: 400;
}

h1 {
	font-size: 4.5em;	
	position: relative;
	margin-bottom: 7px;
}

h2 {
	font-size: 3em;
	position: relative;
}

h3 {
	font-size: 1.825em;
}

h4 {
	font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

h5 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.4em;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;  
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

p {
    font-size: 16px;
	margin-top: 10px;
}

a {
    color: $linkColor;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

a:hover {
	color: $linkColorHover;
	text-decoration: none;
}