h1, h2, h3, h4 {
	font-weight: 400;
}

h1 {
	font-size: 86px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 7px;
}

h1.white {
	color: #f4f3ef;
}

h2 {
	font-size: 51px;
	position: relative;
}

h2.white {
	color: #f4f3ef;
}


h3 {
	font-size: 22px;
}

h3.white {
	color: #f4f3ef;
}

h4 {
	font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

h5 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.4em;
}

p {
    font-size: 16px;
	margin-top: 10px;
}

a {
    color: $linkColor;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

a:hover {
	color: $linkColorHover;
	text-decoration: none;
}