/*Variables*/

$fontFamily: 'Montserrat', "Helvetica", Arial, sans-serif;
$baseFontSize: 16px;
$bodyBGColor: #fff;
$baseFontColor: #66615b;

$linkColor: #eb5e28;
$linkColorHover: #868991;

/*Menu Color*/

$menuTextColor: #eee;
$menuTextActiveColor: $linkColor;

$mobileMenuBg: #e44627;

$desktopMenuTextColor: #000;
$desktopMenuDropDownBg: rgba(255, 255, 255, 0.74);

$servicesBg: #333;
$servicesTextColor: #e4e4e4;

$addressBg: #dcdcdc;